{% extends "base.html" %}
{% load humanize %}

{% block content %}
	<head>
	<style>

	</style>
	</head>
	
	<body>
	<table class="table table-hover table-bordered">
	  <tr>
	    <th>Name</th>
	    <th>Version</th>
	    <th>Class</th>
	    <th>Primary Contact</th>
	    <th>Date Created</th>
	  </tr>
	  {% for project in projects %}
	  <tr>
	    <td><a href="{% url 'project-detail' project.pk %}">{{ project.project_name }}</a></td>
	    <td>{{ project.project_version }}</td>
	    <td>{{ project.project_class }}</td>
	    <td>{{ project.project_contact_primary }}</td>
	    <td>{{ project.project_created_at }}</td>
	  </tr>
	  {% endfor %}
	
	</table>
	</body>
{% endblock %}


