{% extends "base.html" %}

{% block header %}
    <a href='/admin/project/project/{{ project.pk }}/history/' class = "history float-right"><span>History </span></a>
	<h2 class="title">{{ project.project_name|title }}</h2>

<style>
h2.title {
    margin-bottom: 20px;
}
.history {
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

.history span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.history span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.history:hover span {
  padding-right: 25px;
}

.history:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
<body>



</body>
{% endblock %}

{% block content %}
	{% include "project-detail.html" %}
{% endblock %}

{% block footer %} 
<p><a href="{% url 'admin-redirect' %}">Log In</a> to edit/add projects or <a href="{% url 'projects' %}">return to the project list</a></p>
{% endblock %} 


